<!doctype html>
<html>
  <head>
    <title>Sample app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sample app">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.bundle1.css %>">
  </head>
  <body>
    <h1>Page 1</h1>
    <p>
      <a href="/index.html">Page 1</a> |
      <a href="/page2.html">Page 2</a> |
      <a href="/page3.html">Page 3</a>
    </p>
    <p>This page was generated via an HtmlWebpackPlugin template.</p>

    <div class="examples">
      <div class="example-label">
        <h2>Local JPG background image</h2>
      </div>
      <div class="example-content background--jpg--local"></div>

      <div class="example-label">
        <h2>Local SVG background image</h2>
      </div>
      <div class="example-content background--svg--local"></div>

      <div class="example-label">
        <h2>Local SVG background image (inline CSS)</h2>
      </div>
      <div class="example-content background--svg--local--inline" style="background-image: url(<%= require('../images/loader.svg').view %>)"></div>

      <div class="example-label">
        <h2>Local sprite symbols (svg/use elements)</h2>
      </div>
      <div class="example-content">
        <svg role="img" width="40" height="40">
          <use xlink:href="<%= require('../images/icon-anchor.svg').symbol %>"></use>
        </svg>
        <svg role="img" width="40" height="40">
          <use xlink:href="<%= require('../images/icon-code.svg').symbol %>"></use>
        </svg>
      </div>

      <div class="example-label">
        <h2>tgam-patterns JPG background image</h2>
      </div>
      <div class="example-content background--jpg--tgam"></div>

      <div class="example-label">
        <h2>tgam-patterns SVG background image</h2>
      </div>
      <div class="example-content background--svg--tgam"></div>

      <div class="example-label">
        <h2>tgam-patterns sprite symbols (svg/use elements)</h2>
        <p>(must import the SVGs into the JavaScript entry point or they won't appear here)</p>
      </div>
      <div class="example-content">
        <svg role="img" width="40" height="40">
          <use xlink:href="<%= require('tgam/images/icon-facebook.svg').symbol %>"></use>
        </svg>
        <svg role="img" width="40" height="40">
          <use xlink:href="<%= require('tgam/images/icon-twitter.svg').symbol %>"></use>
        </svg>
      </div>
    </div>

    <h2>Component from the pattern library:</h2>

    <form class="c-form">
      <fieldset class="c-form__fieldset">
        <legend class="c-form__legend">Sample form</legend>
        <div class="c-form__field c-form__field--checkbox">
          <div class="c-form__field-inner">
            <input id="my-checkbox" type="checkbox" value="yes" class="c-form__control c-form__control--checkbox">
            <label for="my-checkbox" class="c-form__label">Checkbox</label>
          </div>
        </div>
      </fieldset>
    </form>

    <script src="<%= htmlWebpackPlugin.files.chunks.bundle1.entry %>"></script>
  </body>
</html>
