<!doctype html>
<html>
  <head>
    <title>Sample app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sample app">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.bundle1.css %>">
  </head>
  <body>
    <h1>Page 1</h1>
    <p>
      <a href="/index.html">Page 1</a> |
      <a href="/page2.html">Page 2</a> |
      <a href="/page3.html">Page 3</a>
    </p>
    <p>This page was generated via an HtmlWebpackPlugin template.</p>

    <p>JPG background image from the local project:</p>
    <div class="example-background--jpg--local"></div>

    <p>SVG background image from the local project:</p>
    <div class="example-background--svg--local"></div>

    <p>SVG background image from the local project (inline CSS):</p>
    <div class="example-background--svg--local--inline" style="background-image: url(<%= require('../images/loader.svg').view %>)"></div>

    <p>JPG background image from the tgam-patterns module:</p>
    <div class="example-background--jpg--tgam"></div>

    <p>SVG background image from the tgam-patterns module:</p>
    <div class="example-background--svg--tgam"></div>

    <p>svg/use elements that pull in sprite symbols from the local project:</p>

    <svg role="img" width="40" height="40">
      <use xlink:href="<%= require('../images/icon-anchor.svg').symbol %>"></use>
    </svg>
    <svg role="img" width="40" height="40">
      <use xlink:href="<%= require('../images/icon-code.svg').symbol %>"></use>
    </svg>
    <svg role="img" width="40" height="40">
      <use xlink:href="<%= require('../images/icon-enlarge.svg').symbol %>"></use>
    </svg>
    <svg role="img" width="40" height="40">
      <use xlink:href="<%= require('../images/icon-gear.svg').symbol %>"></use>
    </svg>

    <p>Component from the pattern library:</p>

    <form class="c-form">
      <fieldset class="c-form__fieldset">
        <legend class="c-form__legend">Sample form</legend>
        <div class="c-form__field c-form__field--checkbox">
          <div class="c-form__field-inner">
            <input id="my-checkbox" type="checkbox" value="yes" class="c-form__control c-form__control--checkbox">
            <label for="my-checkbox" class="c-form__label">Checkbox</label>
          </div>
        </div>
      </fieldset>
    </form>

    <script src="<%= htmlWebpackPlugin.files.chunks.bundle1.entry %>"></script>
  </body>
</html>
