<!doctype html>
<html>
  <head>
    <title>Sample app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sample app">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.bundle2.css %>">
  </head>
  <body>
    <h1>Page 2</h1>
    <p>
      <a href="/index.html">Page 1</a> |
      <a href="/page2.html">Page 2</a> |
      <a href="/page3.html">Page 3</a>
    </p>
    <p>This page was generated via an HtmlWebpackPlugin template.</p>

    <script src="<%= htmlWebpackPlugin.files.chunks.bundle2.entry %>"></script>
  </body>
</html>
