<!doctype html>
<html>
  <head>
    <title>Sample app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sample app">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.bundle2.css %>">
  </head>
  <body>
    <div class="page">
      <h1>Page 2 <span>(HtmlWebpackPlugin)</span></h1>
      <p>
        <a href="/index.html">Page 1</a> |
        <a href="/page2.html">Page 2</a>
      </p>
      <p>This page was generated via an HtmlWebpackPlugin template.</p>
      <p><strong>Note</strong>: You may need to empty your cache and hard-reload after running a new build to see the changes.</p>

      <div class="examples">
        <div class="example-label">
          <h2>Local JPG background image</h2>
        </div>
        <div class="example-content local-jpg"></div>

        <div class="example-label">
          <h2>Local SVG background image</h2>
        </div>
        <div class="example-content local-svg"></div>

        <div class="example-label">
          <h2>Local SVG background image (inline CSS)</h2>
        </div>
        <div class="example-content inline-svg" style="background-image: url(<%= require('../images/loader.svg').view %>)"></div>

        <div class="example-label">
          <h2>Local sprite symbols (svg/use elements)</h2>
        </div>
        <div class="example-content">
          <svg role="img" width="40" height="40">
            <use xlink:href="<%= require('../images/icon-anchor.svg').symbol %>"></use>
          </svg>
          <svg role="img" width="40" height="40">
            <use xlink:href="<%= require('../images/icon-code.svg').symbol %>"></use>
          </svg>
        </div>

        <div class="example-label">
          <h2>tgam-patterns JPG background image</h2>
        </div>
        <div class="example-content tgam-jpg"></div>

        <div class="example-label">
          <h2>tgam-patterns SVG background image</h2>
        </div>
        <div class="example-content tgam-svg"></div>

        <div class="example-label">
          <h2>tgam-patterns SVG background image (inline CSS)</h2>
        </div>
        <div class="example-content inline-svg" style="background-image: url(<%= require('tgam/images/play-button.svg').view %>)"></div>

        <div class="example-label">
          <h2>tgam-patterns sprite symbols (svg/use elements)</h2>
        </div>
        <div class="example-content">
          <svg role="img" width="40" height="40">
            <use xlink:href="<%= require('tgam/images/search-icon-dark.svg').symbol %>"></use>
          </svg>
          <svg role="img" width="40" height="40">
            <use xlink:href="<%= require('tgam/images/twitter.svg').symbol %>"></use>
          </svg>
        </div>
      </div>

      <h2>Components from the pattern library:</h2>

      <form class="c-form">
        <fieldset class="c-form__fieldset">
          <legend class="c-form__legend">Sample form</legend>
          <div class="c-form__field c-form__field--checkbox">
            <div class="c-form__field-inner">
              <input id="my-checkbox" type="checkbox" value="yes" class="c-form__control c-form__control--checkbox">
              <label for="my-checkbox" class="c-form__label">Checkbox</label>
            </div>
          </div>
        </fieldset>
      </form>

      <div class="c-accordion c-accordion--standard-buttons" aria-live="polite">
        <ul class="c-accordion__list c-accordion__list--level-0" id="list-0">
          <li class="c-accordion__item">
            <div class="c-accordion__item-container">
              <a href="#" class="c-accordion__item-link c-accordion__item-link--beside-button">Canada</a>
              <button class="c-button c-button--icon-only c-button--no-border c-button--no-border-radius" type="button" aria-label="Open subcategories" aria-expanded="false" aria-controls="list-0-0">
                <svg class="c-button__icon" role="img" pointer-events="none" focusable="false" aria-hidden="true">
                  <use xlink:href="<%= require('tgam/images/plus-icon.svg').symbol %>"></use>
                </svg>
              </button>
            </div>
            <ul class="c-accordion__list c-accordion__list--level-1" id="list-0-0" hidden="">
              <li class="c-accordion__item">
                <div class="c-accordion__item-container">
                  <a href="#" class="c-accordion__item-link">Toronto</a>
                </div>
              </li>
              <li class="c-accordion__item">
                <div class="c-accordion__item-container">
                  <a href="#" class="c-accordion__item-link">British Columbia</a>
                </div>
              </li>
            </ul>
          </li>
          <li class="c-accordion__item">
            <div class="c-accordion__item-container">
              <a href="#" class="c-accordion__item-link c-accordion__item-link--beside-button">World</a>
              <button class="c-button c-button--icon-only c-button--no-border c-button--no-border-radius" type="button" aria-label="Open subcategories" aria-expanded="false" aria-controls="list-0-1">
                <svg class="c-button__icon" role="img" pointer-events="none" focusable="false" aria-hidden="true">
                  <use xlink:href="<%= require('tgam/images/plus-icon.svg').symbol %>"></use>
                </svg>
              </button>
            </div>
            <ul class="c-accordion__list c-accordion__list--level-1" id="list-0-1" hidden="">
              <li class="c-accordion__item">
                <div class="c-accordion__item-container">
                  <a href="#" class="c-accordion__item-link">Global reporting</a>
                </div>
              </li>
              <li class="c-accordion__item">
                <div class="c-accordion__item-container">
                  <a href="#" class="c-accordion__item-link">U.S. politics</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <script src="<%= htmlWebpackPlugin.files.chunks.bundle2.entry %>"></script>
  </body>
</html>
