@import "~tgam/stylesheets/generic";

@import "~tgam/stylesheets/base";

@import "~tgam/stylesheets/components.accordion";
@import "~tgam/stylesheets/components.button";
@import "~tgam/stylesheets/components.form";

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/opensans-regular.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/opensans-bold.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/opensans-italic.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Notable-Regular";
  src: url("../fonts/subdirectory/notable-regular.ttf") format("opentype");
  font-display: swap;
}

$bg-color: linen;

body {
  margin: 20px;
  background-color: $bg-color;
}
h1 span {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}
.page {
  max-width: 900px;
  margin: 0 auto;
}
.examples {
  display: grid;
  grid-template-columns: 100px auto;
  grid-auto-flow: dense;
  grid-gap: 30px;
  align-items: center;
}
.example-label {
  grid-column: 2 / 3;
  h2 {
    font-size: 16px;
    margin: 0;
  }
  p {
    margin: 0;
  }
}
.example-content {
  grid-column: 1 / 2;
  justify-self: center;
}
.svg-inline {
  width: 40px;
  height: 40px;
  background-size: 40px auto;
}
.jpg-local {
  width: 100px;
  height: 100px;
  background-image: url("../images/cat.jpg");
  background-size: 100px auto;
}
.svg-local {
  width: 40px;
  height: 40px;
  background-image: url("../images/icon-gear.svg");
  background-size: 40px auto;
}
.jpg-tgam {
  width: 100px;
  height: 100px;
  background-image: url("~tgam/images/piano-regwall-photo.jpg");
  background-size: 100px auto;
}
.svg-tgam {
  width: 40px;
  height: 40px;
  background-image: url("~tgam/images/tgam-logo-leaf.svg");
  background-size: 40px auto;
}