@import "~tgam/stylesheets/generic";

@import "~tgam/stylesheets/base";

@import "~tgam/stylesheets/components.button";

@import "./base";

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/opensans-regular.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/opensans-bold.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/opensans-italic.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Notable-Regular";
  src: url("../fonts/subdirectory/notable-regular.ttf") format("opentype");
  font-display: swap;
}
h1 {
  font-family: "Notable-Regular", Courier, monospace;
  font-weight: normal;
  font-style: normal;
}
