@import "~panther/stylesheets/generic";

@import "~panther/stylesheets/base";

@import "~panther/stylesheets/components.button";
@import "~panther/stylesheets/components.form";

@import "~panther/stylesheets/components.fundata-reports";

@import "./partial";

.c-form {
  background-image: url("~panther/images/piano-regwall-photo.jpg");
}
.bar {
  color: purple;
}
.test-div {
  width: 100px;
  height: 100px;
  background-image: url("../images/cat.jpg");
  background-size: 100px;
}
.test-element {
  width: 50px;
  height: 50px;
  background-image: url("../images/icon-gear.svg");
  background-size: 50px;
}