@import "~panther/stylesheets/generic";

@import "~panther/stylesheets/base";

@import "~panther/stylesheets/components.button";

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/opensans-regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/opensans-bold.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/opensans-italic.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Notable-Regular";
  src: url("../fonts/subdirectory/notable-regular.ttf") format("ttf");
  font-display: swap;
}

body {
  background-color: aqua;
}