@import "~tgam/styles/settings.colors";

@import "./shared";

h1 {
  font-family: "Pratt-BoldItalic", Courier, monospace;
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 600px) {
  h1 {
    color: $color-red-300;
  }
}