@import "panther/stylesheets/settings.colors";

@import "./shared";

h1 {
  font-family: "Notable-Regular", Courier, monospace;
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 600px) {
  h1 {
    color: $color-blue-400;
  }
}
