@import "~panther/stylesheets/generic";

@import "~panther/stylesheets/base";

@import "~panther/stylesheets/components.button";
@import "~panther/stylesheets/components.form";

@import "~panther/stylesheets/components.fundata-reports";

@import "./partial";

.c-form {
  background-image: url("~panther/images/piano-regwall-photo.jpg");
}

.bar {
  color: purple;
}

.test-div {
  background-image: url("../images/cat.jpg");
}